<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <div class="ml-auto">
    <h4 class="text-gray-850 d-none d-lg-block">WhibOx Contest 2021 - CHES 2021 Challenge</h4>
    <h4 class="text-gray-850 d-none d-md-block d-lg-none">WhibOx Contest 2021</h4>
  </div>

  <div class="ml-auto">
  </div>

</nav>
<!-- End of Topbar -->
